Matlab/*
Center frequencies.txt
bibliography.bib
*/__pycache__/*git push
*.pdf
PEAQ-to-python*
*/__pycache__/*
*.pyc
AFsp-v8r2/*
ds_test_2fmodel_pqevalaudio/*

*.npy
*.bat

Figures/*
!Figures/PEAQresultsComparison.svg